@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
	--clr-primary1: hsl(158, 36%, 37%);
	--clr-primary2: hsl(30, 38%, 92%);

	--clr-neutral1: hsl(212, 21%, 14%);
	--clr-neutral2: hsl(228, 12%, 48%);
	--clr-neutral3: hsl(0, 0%, 100%);

	--ff-montserrat: 'Montserrat', sans-serif;
	--ff-fraunces: 'Fraunces', serif;

	--fw-medium: 500;
	--fw-bold: 700;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--clr-primary2);
	min-height: 100vh;
	font-size: 14px;

	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	margin: 0 auto;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  widows: 1px;
}

.product {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 600px;

	border-radius: 10px;
	overflow: hidden;
	background-color: var(--clr-neutral3);
}

@media (max-width: 480px) {
	main {
		margin: 15px;
	}

	.product {
		grid-template-columns: 1fr;
	}

	.product__img img {
		max-height: 275px;
		width: 100%;
		object-fit: cover;
	}
}

.product__img img {
	width: 100%;
	display: block;
}

.product__text {
	font-family: var(--ff-montserrat);
	display: flex;
	flex-direction: column;
	padding: 32px;
}

.product__category {
	text-transform: uppercase;
	font-weight: var(--fw-medium);
	font-size: 12px;
	letter-spacing: 5px;
	color: var(--clr-neutral2);
}

.product__title {
	font-family: var(--ff-fraunces);
	font-weight: var(--fw-bold);
	font-size: 2rem;
	color: var(--clr-neutral1);
	line-height: 1;
	padding: 1.2rem 0 0 0;
}

.product__description {
	color: var(--clr-neutral2);
	line-height: 1.6;
	padding: 1.6rem 0 0 0;
}

.product__price {
	display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.7rem 0 1.7rem 0;
}

.product__current-price {
	font-family: var(--ff-fraunces);
	font-weight: var(--fw-bold);
	font-size: 2rem;
	color: var(--clr-primary1);
}

.product__original-price {
	color: var(--clr-neutral2);
	font-size: 13px;
}

.product__btn-cart {
	background-color: var(--clr-primary1);
	font-family: var(--ff-montserrat);
	font-weight: var(--fw-bold);
	font-size: 14px;
	color: var(--clr-neutral3);
	cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: .5rem;
  padding: 15px 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
}

.product__btn-cart:hover {
	background-color: hsl(158, 36%, 20%);;
}
